# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments (Virtualenvs)
.env
.venv
env/
venv/

# IDEs/Editores
.vscode/
.idea/
*.swp

# Logs e Bancos de dados
*.log
db.sqlite3

# Dados 
.dw
.justfile
