# Ambiente virtual
venv/
env/
ENV/
env.bak/
venv.bak/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Dependências (se geradas automaticamente)
*.egg-info
*.egg
dist/
build/
develop-eggs/

# Configurações de IDEs e editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Dados sensíveis
/dw/